/* main layout */

body {
    background-color: var(--text-color);
    background-image: url("../images/operating_room.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:cover;
  
    margin: 0 auto;
  }

   /* 
  header layout 
  .topnav-right {
    float: right;
  }*/
