/* main layout */

body {
    background-image: url(operating_room.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:cover;
  
    margin: auto auto;
  }
  
#topnav_left:first-child{
  padding-left:2px;
}

#topnav_left a{
  float:left;
  padding: 14px 16px;
}

section > header {
    text-align: center;
    padding-top: 80px;
    padding-bottom:30px;
}

#loginLinks a{
  display:inline;
}
