/* main layout */

body {
    background-color: var(--text-color);
    background-image: url(operating_room.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:cover;
  
    margin: 0 0;
  }


nav {
    margin-top: -17px;
    margin-left:-5px;
}
/*header layout*/
#topnav_right a{
    float: right;
    padding: 14px 16px;
} 

#topnav_left:first-child{
    padding-left:2px;
}

#topnav_left a{
    float:left;
    padding: 14px 16px;
}

header {
    text-align: center;
    padding-top: 80px;
    }

#contact_info {
    height:250px;
    width:220px;
    float:left;
    margin-left:270px;
    padding-left:10px;
    padding-top:0px;
}
#map {
    width:400px;
    height:250px;
}


