/* header */
:root {
    --darkB-accent-color: rgb(82, 85, 100);
    --mainB-color:#74828F;
    --lightB-accent-color: #96C0CE;
    --lightR-accent-color:#BEB9B5;
    --mainR-color:#C25B56;
    --text-color:#FEF6EB;  
  }
  
/*Navigation Bar*/  
    /* Style the links inside the navigation bar */
  nav ul,ul {
    list-style-type: none;
  }
  nav a {
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  nav a:hover {
    background-color: var(--text-color);
    color: var(--mainB-color);
  }

  /*=========================================*/
/*Main Block*/
  header {
    color: var(--text-color);
  }
  

#contact_info {
  text-align: left;
  background-color: rgba(82,85,100,0.8);
}


/*HOW TO STYLE OBJECT TEXT?*/
  /*============================================*/
/* fonts */ 
    
    body {
      font-family: 'Karla', sans-serif;
    }
  
    p {
      font-family: 'Karla', sans-serif;
      line-height: 1.4em;
    }
    section p {
      font-size:15px;
    }
  
    
  