/* header */
:root {
    --darkB-accent-color: #525564;
    --mainB-color:#74828F;
    --lightB-accent-color: #96C0CE;
    --lightR-accent-color:#BEB9B5;
    --mainR-color:#C25B56;
    --text-color:#FEF6EB;  
  }
  
/*Navigation Bar*/  
    /* Style the links inside the navigation bar */
    nav ul,ul {
      list-style-type: none;
    }
    nav a {
      color: var(--text-color);
      text-align: center;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    nav a:hover {
      background-color: var(--text-color);
      color: var(--mainB-color);
    }

  /*=========================================*/
/*Main Block*/
  #main {
    text-align: center;
    padding: 100px 200px;
    color: var(--text-color);
  }

#main div {
  background:rgba(190,185,181,0.5);
}
/* Style the button that is used to open and close the collapsible content */
input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  max-height: 350px;
  max-width:200px;

  padding: 1rem;

  color: var(--darkB-accent-color);
  background:var(--lightB-accent-color);

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: var(--lightR-accent-color);
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #525564;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  max-height: 350px;
  max-width:200px;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
  max-width:200px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/*HOW TO STYLE OBJECT TEXT?*/
  /*============================================*/
/* fonts */ 
    
    body {
      font-family: 'Karla', sans-serif;
    }
  
    p {
      font-family: 'Karla', sans-serif;
      line-height: 1.4em;
    }
  
    #main h1 {
      font-weight:bold;
    }

    #main h2 {
        font-weight:lighter;
      }

    
  